{% extends 'base.html' %}

{% block content_full_width %}
<div class="jumbotron">
  <div class="container">
    <h1>Build, Then Log</h1>
    <p>Looking to build a plane? Log your progress here. Keep notes on each build session, remember how much things cost, what you got, where you got it from. Don't let any of that clutter your mind. Just go build your plane and have fun!</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign up&raquo;</a></p>
  </div>
</div>


{% endblock %}
