<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %} ng-app="plogs">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Plogs{% endblock %}</title>
    <link type="text/css" href="{% static 'assets/css/plogs.css' %}" media="all" rel="stylesheet">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
    {% block page_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Plogs</a>
    </div>

    {% if user.is_authenticated %}
      <div class="navbar-right"><p class="navbar-text">Hi {{ user.get_shortname | default:user.get_username }}!</p></div>
    {% else %}
    <div id="navbar" class="navbar-collapse collapse">
      <form method='post' action='{% url 'login' %}' class="navbar-form navbar-right">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="Username" name="username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Log in</button>
      </form>
    </div><!--/.navbar-collapse -->
    {% endif %}
  </div>
</nav>

{% bootstrap_messages %}

{% block content_full_width %}
<div class="container">{% block content %}{% endblock %}</div>
{% endblock %}

<script type="text/javascript" src="{% static 'assets/vendor/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/angular-route/angular-route.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/angular-resource/angular-resource.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/angular-sanitize/angular-sanitize.js'%}"></script>

<script type="text/javascript" src="{% static 'assets/main/js/utils.js' %}"></script>
{% block page_scripts %}{% endblock %}
<script type="text/javascript" src="{% static 'assets/main/js/app.js' %}"></script>

</body>

</html>

