figure {
    &:extend(.thumbnail);
    max-width: 80%;
    margin: 0 auto;

    img {
        &:extend(.img-responsive);
    }

    figcaption {
        &:extend(.caption);
        font-style: italic;
        text-align: center;
    }
}

