figure {
    &:extend(.thumbnail);
    max-width: 80%;
    margin: 0 auto;
    clear: right;

    img {
        &:extend(.img-responsive);
    }

    figcaption {
        &:extend(.caption);
        font-style: italic;
        text-align: center;
    }
}

.tiny-figure {
    max-width: initial;

    figcaption {
        font-size: smaller;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

