figure {
    &:extend(.thumbnail);
    max-width: 80%;
    margin: 0 auto;
    clear: right;

    img {
        &:extend(.img-responsive);
    }

    figcaption {
        &:extend(.caption);
        font-style: italic;
        text-align: center;
    }
}

.buildlog-images {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    figure {
        max-width: initial;
        margin-bottom: 20px;

        figcaption {
            font-size: smaller;
        }
    }
}
