<div>
<div class="btn-group">
    <button class="btn btn-default btn-sm" aria-label="Bold"
            data-prefix="**" data-suffix="**">
        <span class="glyphicon glyphicon-bold"></span>
    </button>
    <button class="btn btn-default btn-sm" aria-label="Italicize"
            data-prefix="*" data-suffix="*">
        <span class="glyphicon glyphicon-italic"></span>
    </button>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-sm" aria-label="Link"
            data-type="link">
        <span class="glyphicon glyphicon-link"></span>
    </button>
    <button class="btn btn-default btn-sm" aria-label="Upload photo"
            data-type="image">
        <span class="glyphicon glyphicon-camera"></span>
    </button>
</div>
<textarea class="form-control" rows="10"></textarea>
</div>