<div class="container"><div class="row"><div class="col-md-8 col-md-offset-2"><form novalidate name="form" ng-submit="form.$valid && buildlog.save(buildlog.form)">


<div class="row">
    <div class="col-md-3">
    <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
        <label for="date" class="control-label">Date</label>
        <input class="form-control" required data-container="body" ng-model="buildlog.form.date" id="date" name="date" bs-datepicker type="text">
    </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="hours" class="control-label">Hours</label>
            <input class="form-control" type="number" string-to-number step="any" min="0" ng-model="buildlog.form.duration" id="duration" name="duration" type="text">
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="category" class="control-label">Category</label>
            <combobox ui-select required tagging="buildlog.processNewCategory" tagging-tokens="ENTER|TAB" tagging-label="('new')" ng-model="buildlog.form.category" theme="bootstrap">
              <ui-select-match placeholder="{{$select.selected.name || 'Select category...'}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="category.name as category in buildlog.categories | filter: $select.search">
                <div ng-bind-html="category.name | highlight: $select.search"></div>
              </ui-select-choices>
            </combobox>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
    <div class="form-group">
        <label for="reference" class="control-label">Manual</label>
        <ui-select multiple tagging tagging-tokens="ENTER|," tagging-label="" search-enabled="false" ng-model="buildlog.form.reference" theme="bootstrap" class="ui-select-no-choices">
          <ui-select-match placeholder="{{$item}}">{{$item}}</ui-select-match>
          <ui-select-choices repeat="item in []">
          </ui-select-choices>
        </ui-select>

    </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="parts" class="control-label">Part Numbers</label>
            <ui-select multiple tagging tagging-tokens="ENTER|," tagging-label="" search-enabled="false" ng-model="buildlog.form.parts" theme="bootstrap" class="ui-select-no-choices">
              <ui-select-match placeholder="{{$item}}">{{$item}}</ui-select-match>
              <ui-select-choices repeat="item in []">
              </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="partner" class="control-label">Partner</label>
            <combobox ui-select tagging="buildlog.processNewPartner" tagging-tokens="ENTER|TAB" tagging-label="('new')" ng-model="buildlog.form.partner" theme="bootstrap">
              <ui-select-match placeholder="{{$select.selected.name || 'Select partner...'}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="partner.name as partner in buildlog.partners | filter: $select.search">
                <div ng-bind-html="partner.name | highlight: $select.search"></div>
              </ui-select-choices>
            </combobox>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="summary" class="control-label">Summary</label>
    <input class="form-control" ng-model="buildlog.form.summary" id="summary" name="summary" type="text">
</div>

<div class="form-group">
    <label class="control-label">Notes</label>
    <editor ng-model="buildlog.form.notes" on-upload="buildlog.addImage(buildlog.form.images)"></editor>
</div>

<div class="row buildlog-images">
    <div ng-repeat="image in buildlog.form.images track by image.url" class="col-sm-4">
        <figure ng-class="{removed: image.removed}">
            <img ng-src="{{ :: image.url}}" alt="{{ :: image.alt }}">
            <figcaption ng-show="image.caption" class="caption" id="image-{{ :: image.id}}">{{ :: image.caption}}</figcaption>
            <button ng-click="buildlog.insertImage(image)" aria-label="Insert" aria-describedby="image-{{ :: image.id}}" class="button-insert" type="button"><span class="glyphicon glyphicon-share-alt"></span></button>
            <button ng-click="buildlog.deleteImage(image)" aria-label="Delete" aria-describedby="image-{{ :: image.id}}" class="button-delete" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        </figure>
    </div>
</div>

<p ng-repeat="(name, errs) in buildlog.errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
<input type="submit" class="btn btn-primary" value="Log">
</form>
</div></div></div>