<div class="container">
<h1>{{page.project.name}} build logs <small>({{page.numBuildlogs}} total)</small></h1>
<ul class="list-unstyled">
<li ng-repeat="log in page.buildlogs">
    <p>
        <a ng-href="#{{page.basePath}}/{{log.log_id}}">{{log.summary || "(no summary)"}}</a>
        <br>
        <span>{{log.category}}</span>
        <small class="text-muted">{{log.date | date:'shortDate' }}</small>
    </p>
</li>
</ul>

<button ng-show="page.hasMore" class="btn btn-default" ng-click="page.loadMore()">More</button>

</div>