<div class="container" ng-controller="BuildLogFormController as buildlog"><div class="row"><div class="col-md-8 col-md-offset-2"><form novalidate name="form" ng-submit="form.$valid && buildlog.save(buildlog.form)">


<div class="row">
    <div class="col-md-3">
    <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
        <label for="date" class="control-label">Date</label>
        <input class="form-control" required data-container="body" ng-model="buildlog.form.date" id="date" name="date" bs-datepicker type="text">
    </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="hours" class="control-label">Hours</label>
            <input class="form-control" type="number" step="any" min="0" ng-model="buildlog.form.duration" id="duration" name="duration" type="text">
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="category" class="control-label">Category</label>
            <combobox ui-select required tagging="buildlog.processNewCategory" tagging-tokens="ENTER" tagging-label="('new')" ng-model="buildlog.form.category" theme="bootstrap">
              <ui-select-match placeholder="{{$select.selected.name || 'Select category...'}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="category.name as category in buildlog.categories | filter: $select.search">
                <div ng-bind-html="category.name | highlight: $select.search"></div>
              </ui-select-choices>
            </combobox>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
    <div class="form-group">
        <label for="reference" class="control-label">Manual</label>
        <ui-select multiple tagging tagging-tokens="ENTER|," tagging-label="" search-enabled="false" ng-model="buildlog.form.reference" theme="bootstrap" class="ui-select-no-choices">
          <ui-select-match placeholder="{{$item}}">{{$item}}</ui-select-match>
          <ui-select-choices repeat="item in []">
          </ui-select-choices>
        </ui-select>

    </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="parts" class="control-label">Part Numbers</label>
            <ui-select multiple tagging tagging-tokens="ENTER|," tagging-label="" search-enabled="false" ng-model="buildlog.form.parts" theme="bootstrap" class="ui-select-no-choices">
              <ui-select-match placeholder="{{$item}}">{{$item}}</ui-select-match>
              <ui-select-choices repeat="item in []">
              </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="partner" class="control-label">Partner</label>
            <combobox ui-select tagging="buildlog.processNewPartner" tagging-tokens="ENTER" tagging-label="('new')" ng-model="buildlog.form.partner" theme="bootstrap">
              <ui-select-match placeholder="{{$select.selected.name || 'Select partner...'}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="partner.name as partner in buildlog.partners | filter: $select.search">
                <div ng-bind-html="partner.name | highlight: $select.search"></div>
              </ui-select-choices>
            </combobox>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="summary" class="control-label">Summary</label>
    <input class="form-control" ng-model="buildlog.form.summary" id="summary" name="summary" type="text">
</div>

<div class="form-group">
    <label for="notes" class="control-label">Notes</label>
    <textarea class="form-control" ng-model="buildlog.form.notes" id="notes" name="notes" rows="10"></textarea>
</div>

<input type="submit" class="btn btn-primary" value="Log">
</form></div></div></div>