{% extends 'base_form.html' %}
{% load static from staticfiles %}

{% block title %}Log Build Session{% endblock %}
{% block form_button %}Log{% endblock %}

{% block form_url %}
{% if form_url == "build:edit" %}
    {% url form_url object.id %}
{% else %}
    {% url form_url%}
{% endif %}
{% endblock %}

{% block extra_content %}
<p id="status"></p>
<div class="row" id="js-images">
<div class="col-sm-3"><input type="file" id="js-files" class="well" /></div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{% static 'assets/js/vendor/s3upload/s3upload.js' %}"></script>
<script type="text/javascript">

(function($) {
    function display_image(url) {
        $("#js-images").append("<div class='col-sm-3'><a href='" + url + "' class='thumbnail'><img src='" + url + "' /></a></div>");
    }

    function s3_upload(){
        var status_elem = $("#status");
        var url_elem = $("#avatar_url");
        var preview_elem = $("#preview");
        var s3upload = new S3Upload({
            file_dom_selector: 'js-files',
            s3_sign_put_url: '{% url "build:photo_upload_url" %}',
            onProgress: function(percent, message) {
                status_elem.html('Upload progress: ' + percent + '% ' + message);
            },
            onFinishS3Put: function(url) {
                status_elem.html('Upload completed. Uploaded to: '+ url);
                display_image(url);
            },
            onError: function(status) {
                status_elem.html('Upload error: ' + status);
            }
        });
    }

    var input_element = $("#js-files").change(s3_upload);
})(jQuery);
</script>
{% endblock %}