{% extends 'base_form.html' %}
{% load static %}

{% block title %}Log Build Session{% endblock %}
{% block form_button %}Log{% endblock %}

{% block form_url %}{{ form_url }}{% endblock %}

{% block extra_content %}
<input type="hidden" id="log_id" value="{{ object.log_id }}" />
<input type="hidden" id="project_name" value="{{ project_name }}" />
<p id="status"></p>
<div class="row" id="js-images">
<div class="col-sm-3"><input type="file" id="js-files" class="well" /></div>
{% for image in images %}
<div class="col-sm-3">
<div class="thumbnail">
<a href="{{ image.url }}"><img src="{{ image.url }}" /></a>
{% if image.caption %}
<div class="caption">{{ image.caption }} </div>
{% endif %}
</div>
</div>
{% endfor %}

</div>

{% endblock %}

{% block page_scripts %}
<script src="{% static 'assets/buildlogs/js/buildlogs.js' %}"></script>
<script src="{% static 'assets/buildlogs/js/s3upload.js' %}"></script>
<script>

(function($) {
    function display_image(url) {
        $("#js-images").append("<div class='col-sm-3'><a href='" + url + "' class='thumbnail'><img src='" + url + "' /></a></div>");
    }

    function s3_upload(){
        var status_elem = $("#status");
        var url_elem = $("#avatar_url");
        var preview_elem = $("#preview");
        var s3upload = new S3Upload({
            file_dom_selector: 'js-files',
            s3_sign_put_url: '{% url "build:photo_upload_url" username=user.username %}',
            project_name: $("#project_name").val(),
            log_id: $("#log_id").val(),
            onProgress: function(percent, message) {
                status_elem.html('Upload progress: ' + percent + '% ' + message);
            },
            onFinishS3Put: function(url) {
                status_elem.html('Upload completed. Uploaded to: '+ url);
                display_image(url);
            },
            onError: function(status) {
                status_elem.html('Upload error: ' + status);
            }
        });
    }

    var input_element = $("#js-files").change(s3_upload);
})(jQuery);
</script>
{% endblock %}